body{
  background-color:#FFF8E5;
}
.container-fluid{
  padding-top:0;
  margin-top: 0;
  height: 70px;
}


.generate-token-form{
  margin-top: 50px;
}

.drop{
justify-content: center;
align-content: center;
align-items: center;
width:80%;
max-width: 69em;
}
.token-selection{
height:60px;
}

.butoon{
  text-decoration: none;
}